_devops.ps1
_devops.sh

python/__pycache__/
*.py[cod]
python/setup.py
ci/ci_docker.sh
ci/ci_lint.sh
ci/common_env.sh
ci/run_in_docker.sh

DIFI_Validator/_devops.ps1
DIFI_Validator/_devops.sh

DIFI_Validator/python/__pycache__/
DIFI_Validator/*.py[cod]
DIFI_Validator/python/setup.py
DIFI_Validator/ci/ci_docker.sh
DIFI_Validator/ci/ci_lint.sh
DIFI_Validator/ci/common_env.sh
DIFI_Validator/ci/run_in_docker.sh

DIFI_Validator/difi-compliant*
DIFI_Validator/difi-noncompliant*
DIFI_Validator/packet_diff_histogram.png
DIFI_Validator/packet_histogram.png
DIFI_Validator/report.yaml
DIFI_Validator/log.csv
DIFI_Validator/packet_definitions/error_log.txt
DIFI_Validator/packet_definitions/PSD.png
DIFI_Validator/packet_definitions/certify_source_summary*.yaml
DIFI_Validator/packet_definitions/certify_sink_summary*.yaml
