<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>DIFI Validator</title>

	<style>
		input {
			color: blue;
			font-size: 12pt;
			background-color: #ffff80;
			border: solid 1px black;
			width: auto;
		}
	</style>
</head>
	<body>
		<div style="width:80%; margin: auto; font-size: 12pt;">

			<h2>
				DIFI Validator
			</h2>
			
			<h3 style="background-color: #ffff80;width:fit-content; padding: 4px;">
				{{message}}
			</h3>
			<h3>
				<a href="/"> 
					Return Home
				</a>
			</h3>
		</div>
	</body>
</html>

