<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>DIFI Packet Checker</title>

	<style>
		/* tr */
		.r {
			width: 100%;
		}
		/* bits header */
		.h {
			text-align: center;
			border: 1px solid black;
			background-color: teal;
			color: white;
			height: 20px;
			width: 3.125%;
		}
		/* td small font */
		.dsf {
  			text-align: center;
			border: 1px solid black;
			height: 20px;
			font-size: 9pt;
			white-space: nowrap;
			overflow: hidden;
		}
		/* td extra small font */
		.dsf2 {
  			text-align: center;
			border: 1px solid black;
			height: 20px;
			max-height: 20px;
			font-size: 7pt;
			white-space: nowrap;
			overflow: hidden;
		}
		/* td empty placeholder */
		.de {
  			text-align: center;
			border: 1px solid black;
			background-color: lightgray;
			height: 20px;
		}
		/* td left aligned text */ 
		.dl {
  			text-align: left;
			border: 0px solid black;
			height: 20px;
			white-space: nowrap;
			overflow: hidden;
		}
		/* td single height */
    	.d {
  			text-align: center;
			border: 1px solid black;
			height: 20px;
			white-space: nowrap;
			overflow: hidden;
		}
		/* td single height - blue */
    	.dblue {
  			text-align: center;
			border: 3px solid blue;
			background-color: #0000ff14;
			height: 20px;
			white-space: nowrap;
			overflow: hidden;
		}
		/* td single height - red */
    	.dred {
  			text-align: center;
			border: 3px solid red;
			background-color: #ff000023;
			height: 20px;
			white-space: nowrap;
			overflow: hidden;
		}
		/* td small font - blue */
		.dsfblue {
  			text-align: center;
			border: 3px solid blue;
			background-color: #0000ff14;
			height: 20px;
			font-size: 9pt;
			white-space: nowrap;
			overflow: hidden;
		}
		/* td small font - red */
		.dsfred {
  			text-align: center;
			border: 3px solid red;
			background-color: #ff000023;
			height: 20px;
			font-size: 9pt;
			white-space: nowrap;
			overflow: hidden;
		}
		.dsf2blue {
  			text-align: center;
			border: 2px solid blue;
			background-color: #0000ff14;			  
			height: 20px;
			max-height: 20px;
			font-size: 7pt;
			white-space: nowrap;
			overflow: hidden;
		}
		.dsf2red {
  			text-align: center;
			border: 2px solid red;
			background-color: #ff000023;
			height: 20px;
			max-height: 20px;
			font-size: 7pt;
			white-space: nowrap;
			overflow: hidden;
		}				
		/* td double height */
		.d2 {
  			text-align: center;
			border: 1px solid black;
			height: 40px;
			white-space: nowrap;
			overflow: hidden;
		}
		/* td for data payload section */
		.d8 {
  			text-align: center;
			border: 1px solid black;
			height: 160px;
			white-space: nowrap;
			overflow: hidden;
		}
		/* empty placeholder zero */
		.ez {
			width: 12.5%;
			float: left;
		}
	</style>
	<script>
		function setArchiveDateToLocal() {
			var date = new Date('{{archive_date}}');
			if (date != 'Invalid Date') {
				document.getElementById('archive').innerHTML = date.toLocaleString();
			}
		}
	</script>
</head>
<body onload="setArchiveDateToLocal()">
	
	<div style="width:80%; margin: auto; font-size: 12pt;">
		
		<a href="/">Home</a>
		
		<h2>Last 'Non-Compliant' DIFI Packet Received for Stream ID [{{stream_id}}] </h2>

		<h5>Archived: <span id="archive">{{archive_date}}</span></h5>

		<h4>*Note: DIFI required fields are highlighted in blue and red, hover over cell for tooltip showing required/actual value pairs for the field.</h4>

		<h4><span style="color: blue">Blue = pass</span><br/><span style="color: red">Red = fail</span></h4>

		<!--Standard Context Packet-->
		{% if packet_type == 4 or packet_type == "0x4" %}
		<table width=100%>

			<caption><b><i>Standard Context Packet</i></b></caption>

			<!--32 bits header-->
			<tr class="r"><td class="h">31</td><td class="h">30</td><td class="h">29</td><td class="h">28</td><td class="h">27</td><td class="h">26</td><td class="h">25</td><td class="h">24</td><td class="h">23</td><td class="h">22</td><td class="h">21</td><td class="h">20</td><td class="h">19</td><td class="h">18</td><td class="h">17</td><td class="h">16</td><td class="h">15</td><td class="h">14</td><td class="h">13</td><td class="h">12</td><td class="h">11</td><td class="h">10</td><td class="h">&nbsp9&nbsp</td><td class="h">&nbsp8&nbsp</td><td class="h">&nbsp7&nbsp</td><td class="h">&nbsp6&nbsp</td><td class="h">&nbsp5&nbsp</td><td class="h">&nbsp4&nbsp</td><td class="h">&nbsp3&nbsp</td><td class="h">&nbsp2&nbsp</td><td class="h">&nbsp1&nbsp</td><td class="h">&nbsp0&nbsp</td></tr>

			<!--packet header-->
			<tr class="r"><td class="{{packet_type_display|difi_check('dsf')}}" colspan=4 title="{{packet_type_display|title_check}}">pkt type={{packet_type}}</td><td class="{{class_id|difi_check('dsf')}}" colspan=1 title="{{class_id|title_check}}">cid</td><td class="{{reserved|difi_check('dsf')}}" colspan=2 title="{{reserved|title_check}}">rsvd</td><td class="{{tsm|difi_check('dsf')}}" colspan=1 title="{{tsm|title_check}}">tsm</td><td class="dsf" colspan=2>tsi</td><td class="{{tsf|difi_check('dsf')}}" colspan=2 title="{{tsf|title_check}}">tsf</td><td class="dsf" colspan=4>seqnum</td><td class="{{packet_size|difi_check('d')}}" colspan=16 title="{{packet_size|title_check}}">packet size (words)</td></tr>
		
			<!--packet fields-->
			<tr class="r"><td class="d" colspan=32>stream id</td></tr>
			<tr class="r"><td class="de" colspan=8><span class="ez">0</span><span class="ez">0</span><span class="ez">0</span><span class="ez">0</span><span class="ez">0</span><span class="ez">0</span><span class="ez">0</span><span class="ez">0</span></td><td class="d" colspan=24>oui</td></tr>
			<tr class="r"><td class="{{information_class_code|difi_check('d')}}" colspan=16 title="{{information_class_code|title_check}}">information class code</td><td class="{{packet_class_code|difi_check('d')}}" colspan=16 title="{{packet_class_code|title_check}}">packet class code</td></tr>
			<tr class="r"><td class="d" colspan=32>integer-seconds timestamp</td></tr>
			<tr class="r"><td class="d2" colspan=32>fractional-seconds timestamp</td></tr>
			<tr class="r"><td class="{{context_indicator_field_0|difi_check('d')}}" colspan=32 title="{{context_indicator_field_0|title_check}}">context indicator field (CIF 0)</td></tr>
			<tr class="r"><td class="d" colspan=32>reference point</td></tr>
			<tr class="r"><td class="d2" colspan=32>bandwidth</td></tr>
			<tr class="r"><td class="d2" colspan=32>if reference frequency</td></tr>
			<tr class="r"><td class="d2" colspan=32>rf reference frequency</td></tr>
			<tr class="r"><td class="d2" colspan=32>if band offset</td></tr>
			<tr class="r"><td class="d" colspan=32>reference level</td></tr>
			<tr class="r"><td class="d" colspan=16>stage 2 gain/attenuation</td><td class="d" colspan=16>stage 1 gain/attenuation</td></tr>
			<tr class="r"><td class="d2" colspan=32>sample rate</td></tr>
			<tr class="r"><td class="d2" colspan=32>timestamp adjustment</td></tr>
			<tr class="r"><td class="d" colspan=32>timestamp calibration time</td></tr>

			<!--state and event indicators field-->
			<tr class="r"><td class="de" style="text-align: right" colspan=12>state and event indicators--</td><td class="d"></td><td class="d"></td><td class="d"></td><td class="d"></td><td class="d"></td><td class="d"></td><td class="d"></td><td class="d"></td><td class="de" style="text-align: left" colspan=12>--state and event indicators</td></tr>

			<!--data packet payload format field (word1)-->
			<tr class="r">
				<td class="{{data_packet_payload_format_packing_method|difi_check('dsf2')}}" colspan=1 title="{{data_packet_payload_format_packing_method|title_check}}">pk mh</td>
				<td class="{{data_packet_payload_format_real_complex_type|difi_check('dsf2')}}" colspan=2 title="{{data_packet_payload_format_real_complex_type|title_check}}">real/cmp type</td>
				<td class="{{data_packet_payload_format_data_item_format|difi_check('dsf2')}}" colspan=5 title="{{data_packet_payload_format_data_item_format|title_check}}">data item format</td>
				<td class="{{data_packet_payload_format_repeat_indicator|difi_check('dsf2')}}" colspan=1 title="{{data_packet_payload_format_repeat_indicator|title_check}}">rpt ind</td>
				<td class="{{data_packet_payload_format_event_tag_size|difi_check('dsf2')}}" colspan=3 title="{{data_packet_payload_format_event_tag_size|title_check}}">event-tag size</td>
				<td class="{{data_packet_payload_format_channel_tag_size|difi_check('dsf2')}}" colspan=4 title="{{data_packet_payload_format_channel_tag_size|title_check}}">channel-tag size</td>
				<td class="dsf2" colspan=4>data item fraction size</td>
				<td class="dsf2" colspan=6>item packing field size</td>
				<td class="dsf2" colspan=61>data item size</td>
			</tr>

			<!--data packet payload format field (word2)-->
			<tr class="r">
				<td class="dsf2" colspan=16>repeat count</td>
				<td class="dsf2" colspan=16>vector size</td>
			</tr>
		</table>

		<br/><br/><br/><br/>
		<!--state and event indicators - (legend)-->
		<table width=49% style="border: 1px solid black; background-color: lightgray; display: inline-table">

			<caption style="text-align: left; background-color: teal; color: white; border-left: 1px solid black; border-top: 1px solid black; border-right: 1px solid black; border-bottom: 0px solid black; white-space: nowrap; overflow: hidden">State and Event Indicators <span style="float: right; white-space: nowrap; overflow: hidden; text-overflow: clip">-- legend --&nbsp</span></caption>

			<!--bit indicator fields (bit 12-19)-->
			<tr class="r"><td class="dl">(bit 19)  Calibrated Time Indicator</td></tr>
			<tr class="r"><td class="dl">(bit 18)  Valid Data Indicator</td></tr>
			<tr class="r"><td class="dl">(bit 17)  Reference Lock Indicator</td></tr>
			<tr class="r"><td class="dl">(bit 16)  AGC/MGC Indicator</td></tr>
			<tr class="r"><td class="dl">(bit 15)  Detected Signal Indicator</td></tr>
			<tr class="r"><td class="dl">(bit 14)  Spectral Inversion Indicator</td></tr>
			<tr class="r"><td class="dl">(bit 13)  Over-range Indicator</td></tr>
			<tr class="r"><td class="dl">(bit 12)  Sample Loss Indicator</td></tr>
		</table>

		<br/><br/><br/><br/>
		<!--data packet payload format field (word1) - (legend)-->
		<table width=49% style="border: 1px solid black; background-color: lightgray; display: inline-table">

			<caption style="text-align: left; background-color: teal; color: white; border-left: 1px solid black; border-top: 1px solid black; border-right: 1px solid black; border-bottom: 0px solid black; white-space: nowrap; overflow: hidden">Data Packet Payload Format Field (word1) <span style="float: right; white-space: nowrap; overflow: hidden; text-overflow: clip">-- legend --&nbsp</span></caption>

			<!--bit fields (bit 0-31)-->
			<tr class="r"><td class="dl">(bit &nbsp&nbsp&nbsp&nbsp 31)  Packing Method</td></tr>
			<tr class="r"><td class="dl">(bit 29-30)  Real/Complex Type</td></tr>
			<tr class="r"><td class="dl">(bit 24-28)  Data Item Format</td></tr>
			<tr class="r"><td class="dl">(bit &nbsp&nbsp&nbsp&nbsp 23)  Sample-Component Repeat Indicator</td></tr>
			<tr class="r"><td class="dl">(bit 20-22)  Event-Tag Size</td></tr>
			<tr class="r"><td class="dl">(bit 16-19)  Channel-Tag Size</td></tr>
			<tr class="r"><td class="dl">(bit 12-15)  Data Item Fraction Size</td></tr>
			<tr class="r"><td class="dl">(bit &nbsp 6-11)  Item Packing Field Size</td></tr>
			<tr class="r"><td class="dl">(bit &nbsp&nbsp&nbsp 0-5)  Data Item Size</td></tr>
		</table>

		<!--data packet payload format field (word2) - (legend)-->
		<table width=49% style="border: 1px solid black; background-color: lightgray; display: inline-table">

			<caption style="text-align: left; background-color: teal; color: white; border-left: 1px solid black; border-top: 1px solid black; border-right: 1px solid black; border-bottom: 0px solid black; white-space: nowrap; overflow: hidden">Data Packet Payload Format Field (word2) <span style="float: right; white-space: nowrap; overflow: hidden; text-overflow: clip">-- legend --&nbsp</span></caption>

			<!--bit fields (bit 0-31)-->
			<tr class="r"><td class="dl">(bit 16-31)  Repeat Count</td></tr>
			<tr class="r"><td class="dl">(bit &nbsp&nbsp0-15)  Vector Size</td></tr>
		</table>

		<!--Version Context Packet-->
		{% elif packet_type == 5 or packet_type == "0x5" %}
		<table width=100%>

			<caption><b><i>Version Context Packet</i></b></caption>

			<!--32 bits header-->
			<tr class="r"><td class="h">31</td><td class="h">30</td><td class="h">29</td><td class="h">28</td><td class="h">27</td><td class="h">26</td><td class="h">25</td><td class="h">24</td><td class="h">23</td><td class="h">22</td><td class="h">21</td><td class="h">20</td><td class="h">19</td><td class="h">18</td><td class="h">17</td><td class="h">16</td><td class="h">15</td><td class="h">14</td><td class="h">13</td><td class="h">12</td><td class="h">11</td><td class="h">10</td><td class="h">&nbsp9&nbsp</td><td class="h">&nbsp8&nbsp</td><td class="h">&nbsp7&nbsp</td><td class="h">&nbsp6&nbsp</td><td class="h">&nbsp5&nbsp</td><td class="h">&nbsp4&nbsp</td><td class="h">&nbsp3&nbsp</td><td class="h">&nbsp2&nbsp</td><td class="h">&nbsp1&nbsp</td><td class="h">&nbsp0&nbsp</td></tr>

			<!--packet header-->
			<tr class="r"><td class="{{packet_type_display|difi_check('dsf')}}" colspan=4 title="{{packet_type_display|title_check}}">pkt type={{packet_type}}</td><td class="{{class_id|difi_check('dsf')}}" colspan=1 title="{{class_id|title_check}}">cid</td><td class="{{reserved|difi_check('dsf')}}" colspan=2 title="{{reserved|title_check}}">rsvd</td><td class="{{tsm|difi_check('dsf')}}" colspan=1 title="{{tsm|title_check}}">tsm</td><td class="dsf" colspan=2>tsi</td><td class="{{tsf|difi_check('dsf')}}" colspan=2 title="{{tsf|title_check}}">tsf</td><td class="dsf" colspan=4>seqnum</td><td class="{{packet_size|difi_check('d')}}" colspan=16 title="{{packet_size|title_check}}">packet size (words)</td></tr>
		
			<!--packet fields-->
			<tr class="r"><td class="d" colspan=32>stream id</td></tr>
			<tr class="r"><td class="de" colspan=8><span class="ez">0</span><span class="ez">0</span><span class="ez">0</span><span class="ez">0</span><span class="ez">0</span><span class="ez">0</span><span class="ez">0</span><span class="ez">0</span></td><td class="d" colspan=24>oui</td></tr>
			<tr class="r"><td class="{{information_class_code|difi_check}}" colspan=16 title="{{information_class_code|title_check}}">information class code</td><td class="{{packet_class_code|difi_check}}" colspan=16 title="{{packet_class_code|title_check}}">packet class code</td></tr>
			<tr class="r"><td class="d" colspan=32>integer-seconds timestamp</td></tr>
			<tr class="r"><td class="d2" colspan=32>fractional-seconds timestamp</td></tr>
			<tr class="r"><td class="{{context_indicator_field_0|difi_check}}" colspan=32 title="{{context_indicator_field_0|title_check}}">context indicator field (CIF 0)</td></tr>
			<tr class="r"><td class="{{context_indicator_field_1|difi_check}}" colspan=32 title="{{context_indicator_field_1|title_check}}">context indicator field (CIF 1)</td></tr>
			<tr class="r"><td class="{{v49_spec_version|difi_check}}" colspan=32 title="{{v49_spec_version|title_check}}">v49 spec version</td></tr>
			<tr class="r"><td class="d" colspan=7>year</td><td class="d" colspan=9>day</td><td class="d" colspan=6>revision</td><td class="d" colspan=4>type</td><td class="d" colspan=6>icd version</td></tr>
		</table>

		<!--Signal Data Packet-->
		{% elif packet_type == 1 or packet_type == "0x1" %}
		<table width=100%>

			<caption><b><i>Signal Data Packet</i></b></caption>

			<!--32 bits header-->
			<tr class="r"><td class="h">31</td><td class="h">30</td><td class="h">29</td><td class="h">28</td><td class="h">27</td><td class="h">26</td><td class="h">25</td><td class="h">24</td><td class="h">23</td><td class="h">22</td><td class="h">21</td><td class="h">20</td><td class="h">19</td><td class="h">18</td><td class="h">17</td><td class="h">16</td><td class="h">15</td><td class="h">14</td><td class="h">13</td><td class="h">12</td><td class="h">11</td><td class="h">10</td><td class="h">&nbsp9&nbsp</td><td class="h">&nbsp8&nbsp</td><td class="h">&nbsp7&nbsp</td><td class="h">&nbsp6&nbsp</td><td class="h">&nbsp5&nbsp</td><td class="h">&nbsp4&nbsp</td><td class="h">&nbsp3&nbsp</td><td class="h">&nbsp2&nbsp</td><td class="h">&nbsp1&nbsp</td><td class="h">&nbsp0&nbsp</td></tr>

			<!--packet header-->
			<tr class="r"><td class="{{packet_type_display|difi_check('dsf')}}" colspan=4 title="{{packet_type_display|title_check}}">pkt type={{packet_type}}</td><td class="{{class_id|difi_check('dsf')}}" colspan=1 title="{{class_id|title_check}}">cid</td><td class="{{reserved|difi_check('dsf')}}" colspan=2 title="{{reserved|title_check}}">rsvd</td><td class="{{tsm|difi_check('dsf')}}" colspan=1 title="{{tsm|title_check}}">tsm</td><td class="dsf" colspan=2>tsi</td><td class="{{tsf|difi_check('dsf')}}" colspan=2 title="{{tsf|title_check}}">tsf</td><td class="dsf" colspan=4>seqnum</td><td class="d" colspan=16>packet size (words)</td></tr>
		
			<!--packet fields-->
			<tr class="r"><td class="d" colspan=32>stream id</td></tr>
			<tr class="r"><td class="de" colspan=8><span class="ez">0</span><span class="ez">0</span><span class="ez">0</span><span class="ez">0</span><span class="ez">0</span><span class="ez">0</span><span class="ez">0</span><span class="ez">0</span></td><td class="d" colspan=24>oui</td></tr>
			<tr class="r"><td class="{{information_class_code|difi_check('d')}}" colspan=16 title="{{information_class_code|title_check}}">information class code</td><td class="{{packet_class_code|difi_check('d')}}" colspan=16 title="{{packet_class_code|title_check}}">packet class code</td></tr>
			<tr class="r"><td class="d" colspan=32>integer-seconds timestamp</td></tr>
			<tr class="r"><td class="d2" colspan=32>fractional-seconds timestamp</td></tr>

			<tr class="r"><td class="d8" colspan=32>signal data payload (32-bit words)</td></tr>

		</table>

		<!--Unknown Packet Type-->
		{% else %}
		<table width=100%>

			<caption><b><i>Unknown Packet Type</i></b></caption>

			<!--32 bits header-->
			<tr class="r"><td class="h">31</td><td class="h">30</td><td class="h">29</td><td class="h">28</td><td class="h">27</td><td class="h">26</td><td class="h">25</td><td class="h">24</td><td class="h">23</td><td class="h">22</td><td class="h">21</td><td class="h">20</td><td class="h">19</td><td class="h">18</td><td class="h">17</td><td class="h">16</td><td class="h">15</td><td class="h">14</td><td class="h">13</td><td class="h">12</td><td class="h">11</td><td class="h">10</td><td class="h">&nbsp9&nbsp</td><td class="h">&nbsp8&nbsp</td><td class="h">&nbsp7&nbsp</td><td class="h">&nbsp6&nbsp</td><td class="h">&nbsp5&nbsp</td><td class="h">&nbsp4&nbsp</td><td class="h">&nbsp3&nbsp</td><td class="h">&nbsp2&nbsp</td><td class="h">&nbsp1&nbsp</td><td class="h">&nbsp0&nbsp</td></tr>

			<!--packet header-->
			<tr class="r"><td class="{{packet_type_display|difi_check('dsf')}}" colspan=4 title="{{packet_type_display|title_check}}">pkt type={{packet_type}}</td><td class="dsf" colspan=1>cid</td><td class="dsf" colspan=2>rsvd</td><td class="dsf" colspan=1>tsm</td><td class="dsf" colspan=2>tsi</td><td class="dsf" colspan=2>tsf</td><td class="dsf" colspan=4>seqnum</td><td class="d" colspan=16>packet size</td></tr>
		
			<!--packet fields-->
			<tr class="r"><td class="d" colspan=32>stream id</td></tr>
			<tr class="r"><td class="de" colspan=8><span class="ez">0</span><span class="ez">0</span><span class="ez">0</span><span class="ez">0</span><span class="ez">0</span><span class="ez">0</span><span class="ez">0</span><span class="ez">0</span></td><td class="d" colspan=24>oui</td></tr>
			<tr class="r"><td class="d" colspan=16>information class code</td><td class="d" colspan=16>packet class code</td></tr>
			<tr class="r"><td class="d" colspan=32>integer-seconds timestamp</td></tr>
			<tr class="r"><td class="d2" colspan=32>fractional-seconds timestamp</td></tr>
		</table>
		{% endif %}

		<br/><br/><br/><br/>
		<!--packet type - (legend)-->
			<table width=33% style="border: 1px solid black; background-color: lightgray; display: inline-table">

				<caption style="text-align: left; background-color: teal; color: white; border-left: 1px solid black; border-top: 1px solid black; border-right: 1px solid black; border-bottom: 0px solid black; white-space: nowrap; overflow: hidden">Packet Type <span style="float: right; white-space: nowrap; overflow: hidden; text-overflow: clip">-- legend --&nbsp</span></caption>

				<!--standard context packet-->
				<tr class="r"><td class="dl">(0x4)  Standard Flow Signal Context Packet</td></tr>
				<!--version context packet-->
				<tr class="r"><td class="dl">(0x5)  Version Flow Signal Context Packet</td></tr>
				<!--signal data packet-->
				<tr class="r"><td class="dl">(0x1)  Standard Flow Signal Data Packet</td></tr>
			</table>
		</div>

	</body>
</html>